:root {
  --base-size: 20px;
  --icon-width: calc(var(--base-size) * 2);
  --font-size: calc(var(--base-size) * 1.5);
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

header {
  flex: 1;
}

content {
  flex: 2;
}

a {
  color: #61dafb;
}

.blink {
  color: salmon;
  animation: blinker 1.5s linear infinite;
}

.icon {
  font-size: var(--icon-width);
}

@keyframes blinker {
  50% {
    opacity: 0.1;
  }
}

.audioRecorder {
  width: 100%;
  vertical-align: bottom;
  display: flex;
}

.recordButtons {
  width: calc(var(--icon-width) * 2);
  text-align: center;
}

.recordTime {
  font-size: var(--font-size);
  align-self: center;
  margin-left: var(--base-size);
}

.audio {
  width: 100%;
}

.error {
  font-family: monospace;
  color: red;
}
